<% @page_title = "Reviews" %>

<%= render 'layouts/partials/page_title', page_title: "Reviews", sub_title: "eCommerce" %>

<div class="row">
  <div class="col-xl-9">
    <div class="alert alert-primary alert-dismissible fade show">
      Congratulations on receiving the greatest review ever!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card widget-flat">
                                    <span>
                                        <i class="ti ti-snowflake widget-flat-icon text-primary"></i>
                                    </span>
          <div class="card-body">
            <div class="d-flex align-items-start justify-content-between">
              <div>
                <h5 class="fs-16">Reviews</h5>
                <h2 class="my-3">843</h2>
                <span class="badge bg-success-subtle text-success"><i class="ti ti-arrow-up-right me-1"></i>7.42 </span><span> - all time 4583</span>
              </div>
              <span class="avatar-sm flex-shrink-0">
                                                <span class="avatar-title bg-primary-subtle rounded fs-22">
                                                    <i class="ti ti-thumb-up text-primary"></i>
                                                </span>
                                            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card widget-flat">
                                    <span>
                                        <i class="ti ti-lifebuoy widget-flat-icon text-warning"></i>
                                    </span>
          <div class="card-body">
            <div class="d-flex align-items-start justify-content-between">
              <div>
                <h5 class="fs-16">Average Star Rating</h5>
                <h2 class="my-3">4.9</h2>
                <span class="badge bg-danger-subtle text-danger"><i class="ti ti-arrow-down-right me-1"></i>2.63 </span><span> - all time 2.93</span>
              </div>
              <span class="avatar-sm flex-shrink-0">
                                                <span class="avatar-title bg-warning-subtle rounded fs-22">
                                                    <i class="ti ti-star-filled text-warning"></i>
                                                </span>
                                            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card widget-flat">
                                    <span>
                                        <i class="ti ti-license widget-flat-icon text-danger"></i>
                                    </span>
          <div class="card-body">
            <div class="d-flex align-items-start justify-content-between">
              <div>
                <h5 class="fs-16">Order to review</h5>
                <h2 class="my-3">48.94</h2>
                <span class="badge bg-success-subtle text-success"><i class="ti ti-arrow-up-right me-1"></i>4.42 </span><span> - 2023</span>
              </div>
              <span class="avatar-sm flex-shrink-0">
                                                <span class="avatar-title bg-danger-subtle rounded fs-22">
                                                    <i class="ti ti-file-like text-danger"></i>
                                                </span>
                                            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-3">March 2022-February 2023</h5>
        <div class="d-flex align-items-center gap-2 mb-2">
                                    <span class="flex-shrink-0">
                                        <i class="ti ti-star-filled fs-12 text-warning"></i> 5
                                    </span>
          <div class="progress progress-md rounded-pill flex-grow-1 bg-success-subtle" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-success" style="width: 100%"></div>
          </div>
          <span class="flex-shrink-0">2.0k</span>
        </div>
        <div class="d-flex align-items-center gap-2 mb-2">
                                    <span class="flex-shrink-0">
                                        <i class="ti ti-star-filled fs-12 text-warning"></i> 4
                                    </span>
          <div class="progress progress-md rounded-pill flex-grow-1 bg-primary-subtle" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-primary" style="width: 80%"></div>
          </div>
          <span class="flex-shrink-0">1.0k</span>
        </div>
        <div class="d-flex align-items-center gap-2 mb-2">
                                    <span class="flex-shrink-0">
                                        <i class="ti ti-star-filled fs-12 text-warning"></i> 3
                                    </span>
          <div class="progress progress-md rounded-pill flex-grow-1 bg-warning-subtle" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-warning" style="width: 60%"></div>
          </div>
          <span class="flex-shrink-0">500</span>
        </div>
        <div class="d-flex align-items-center gap-2 mb-2">
                                    <span class="flex-shrink-0">
                                        <i class="ti ti-star-filled fs-12 text-warning"></i> 2
                                    </span>
          <div class="progress progress-md rounded-pill flex-grow-1 bg-danger-subtle" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-danger" style="width: 40%"></div>
          </div>
          <span class="flex-shrink-0">200</span>
        </div>
        <div class="d-flex align-items-center gap-2">
                                    <span class="flex-shrink-0">
                                        <i class="ti ti-star-filled fs-12 text-warning"></i> 1
                                    </span>
          <div class="progress progress-md rounded-pill flex-grow-1 bg-secondary-subtle" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped bg-secondary" style="width: 20%"></div>
          </div>
          <span class="flex-shrink-0">160</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header border-bottom border-dashed">
        <form>
          <div class="row justify-content-between gy-2">
            <div class="col-lg-6 col-xxl-3">
              <div class="dropdown d-inline-block">
                <a href="#" class="dropdown-toggle arrow-none btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti ti-download"></i>
                  Export <i class="ti ti-chevron-down"></i></a>
                <div class="dropdown-menu">
                  <!-- item-->
                  <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-printer me-1"></i>Print</a>
                  <!-- item-->
                  <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-file me-1"></i>Pdf</a>
                  <!-- item-->
                  <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-file-x me-1"></i>Xls</a>
                  <!-- item-->
                  <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-copy me-1"></i>Copy</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex flex-wrap flex-lg-nowrap gap-2">
                <div class="flex-grow-1 search-bar">
                  <input type="text" class="form-control search" placeholder="Search Company">
                  <i class="ti ti-search search-icon"></i>
                </div>
                <div class="flex-grow-1">
                  <select class="form-select my-1 my-md-0 me-sm-3" data-toggle="select2" id="status-select">
                    <option>10</option>
                    <option>20</option>
                    <option>25</option>
                    <option>30</option>
                    <option>50</option>
                  </select>
                </div>
                <div class="flex-grow-1">
                  <select class="form-select my-1 my-md-0 me-sm-3" data-toggle="select2" id="status-select-2">
                    <option>All</option>
                    <option>Pending</option>
                    <option>Publish</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="table-responsive">
        <table class="table table-hover text-nowrap mb-0">
          <thead class="table-light">
          <tr>
            <th>Reviewer</th>
            <th>Product</th>
            <th>Review</th>
            <th>Date</th>
            <th>Status</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("users/avatar-1.jpg") %>" alt="avatar-2" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <a href="javascript: void(0);" class="text-dark"><span class="fw-medium">John Sykes</span></a>
                  <small class="text-muted text-nowrap">johnSykes@yahhoo.in</small>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("products/1.png") %>" alt="Product-1" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-medium text-nowrap">PS-5 Game</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center gap-2">
                <span class="badge p-1 bg-light text-dark fs-12"><i class="ti ti-star-filled align-text-top fs-14 text-warning me-1"></i> 4.5</span>
                <div>
                  <p class="fs-14 my-1 text-truncate">I Really Like It</p>
                  <p class="fs-14 mb-0">I Fell Next-Level Gaming Experience.</p>
                </div>
              </div>
            </td>
            <td>
              <span class="d-block">Apr 20, 2023</span>
              <small>12.12AM</small>
            </td>
            <td>
              <span class="badge bg-success-subtle text-success fs-12 p-1">Approved</span>
            </td>
            <td class="pe-3">
              <div class="hstack gap-1 justify-content-end">
                <a href="javascript:void(0);" class="btn btn-soft-primary btn-icon btn-sm rounded-circle">
                  <i class="ti ti-eye"></i></a>
                <a href="javascript:void(0);" class="btn btn-soft-danger btn-icon btn-sm rounded-circle">
                  <i class="ti ti-trash"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("users/avatar-2.jpg") %>" alt="avatar-2" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <a href="javascript: void(0);" class="text-dark"><span class="fw-medium">Troy Costello</span></a>
                  <small class="text-muted text-nowrap">troyCostello20@mail.com</small>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("products/2.png") %>" alt="Product-2" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-medium text-nowrap">Canon Camera</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center gap-2">
                <span class="badge p-1 bg-light text-dark fs-12"><i class="ti ti-star-filled align-text-top fs-14 text-warning me-1"></i> 4.5</span>
                <div>
                  <p class="fs-14 my-1 text-truncate">Canon is too good in camera</p>
                  <p class="fs-14 mb-0">Camera is a truly marvel of modern technology.</p>
                </div>
              </div>
            </td>
            <td>
              <span class="d-block">Apr 19, 2023</span>
              <small>03.05PM</small>
            </td>
            <td>
              <span class="badge bg-success-subtle text-success fs-12 p-1">Approved</span>
            </td>
            <td class="pe-3">
              <div class="hstack gap-1 justify-content-end">
                <a href="javascript:void(0);" class="btn btn-soft-primary btn-icon btn-sm rounded-circle">
                  <i class="ti ti-eye"></i></a>
                <a href="javascript:void(0);" class="btn btn-soft-danger btn-icon btn-sm rounded-circle">
                  <i class="ti ti-trash"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("users/avatar-3.jpg") %>" alt="avatar-3" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <a href="javascript: void(0);" class="text-dark"><span class="fw-medium">Leroy Cox</span></a>
                  <small class="text-muted text-nowrap">leroyCox69@mail.com</small>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("products/3.png") %>" alt="Product-3" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-medium text-nowrap">Snitch Fashion Cap</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center gap-2">
                <span class="badge p-1 bg-light text-dark fs-12"><i class="ti ti-star-filled align-text-top fs-14 text-warning me-1"></i> 4.5</span>
                <div>
                  <p class="fs-14 my-1 text-truncate">Awesome Cap</p>
                  <p class="fs-14 mb-0">Its good looking and light weight Cap.</p>
                </div>
              </div>
            </td>
            <td>
              <span class="d-block">Apr 17, 2023</span>
              <small>06.12PM</small>
            </td>
            <td>
              <span class="badge bg-warning-subtle text-warning fs-12 p-1">Pending</span>
            </td>
            <td class="pe-3">
              <div class="hstack gap-1 justify-content-end">
                <a href="javascript:void(0);" class="btn btn-soft-primary btn-icon btn-sm rounded-circle">
                  <i class="ti ti-eye"></i></a>
                <a href="javascript:void(0);" class="btn btn-soft-danger btn-icon btn-sm rounded-circle">
                  <i class="ti ti-trash"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("users/avatar-4.jpg") %>" alt="avatar-4" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <a href="javascript: void(0);" class="text-dark"><span class="fw-medium">Marvin Vallejo</span></a>
                  <small class="text-muted text-nowrap">marvinVallejo39@mail.com</small>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("products/4.png") %>" alt="Product-4" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-medium text-nowrap">Titan Casual Wall Watch</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center gap-2">
                <span class="badge p-1 bg-light text-dark fs-12"><i class="ti ti-star-filled align-text-top fs-14 text-warning me-1"></i> 4.5</span>
                <div>
                  <p class="fs-14 my-1 text-truncate">I Always Like Titan Watch's</p>
                  <p class="fs-14 mb-0">Titan Unbeatable style and quality..</p>
                </div>
              </div>
            </td>
            <td>
              <span class="d-block">Apr 16, 2023</span>
              <small>09.59AM</small>
            </td>
            <td>
              <span class="badge bg-success-subtle text-success fs-12 p-1">Approved</span>
            </td>
            <td class="pe-3">
              <div class="hstack gap-1 justify-content-end">
                <a href="javascript:void(0);" class="btn btn-soft-primary btn-icon btn-sm rounded-circle">
                  <i class="ti ti-eye"></i></a>
                <a href="javascript:void(0);" class="btn btn-soft-danger btn-icon btn-sm rounded-circle">
                  <i class="ti ti-trash"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("users/avatar-5.jpg") %>" alt="avatar-5" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <a href="javascript: void(0);" class="text-dark"><span class="fw-medium">Jeffrey Snyder</span></a>
                  <small class="text-muted text-nowrap">jeffreySnyder56@mail.com</small>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("products/5.png") %>" alt="Product-5" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-medium text-nowrap">Baby Toy Truck</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center gap-2">
                <span class="badge p-1 bg-light text-dark fs-12"><i class="ti ti-star-filled align-text-top fs-14 text-warning me-1"></i> 4.5</span>
                <div>
                  <p class="fs-14 my-1 text-truncate">Nice product</p>
                  <p class="fs-14 mb-0">Its Very Lovely</p>
                </div>
              </div>
            </td>
            <td>
              <span class="d-block">Apr 14, 2023</span>
              <small>12.18AM</small>
            </td>
            <td>
              <span class="badge bg-warning-subtle text-warning fs-12 p-1">Pending</span>
            </td>
            <td class="pe-3">
              <div class="hstack gap-1 justify-content-end">
                <a href="javascript:void(0);" class="btn btn-soft-primary btn-icon btn-sm rounded-circle">
                  <i class="ti ti-eye"></i></a>
                <a href="javascript:void(0);" class="btn btn-soft-danger btn-icon btn-sm rounded-circle">
                  <i class="ti ti-trash"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("users/avatar-6.jpg") %>" alt="avatar-6" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <a href="javascript: void(0);" class="text-dark"><span class="fw-medium">Scott Adams</span></a>
                  <small class="text-muted text-nowrap">scottAdams42@mail.com</small>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("products/6.png") %>" alt="Product-6" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-medium text-nowrap">Velvet Wooden Chair</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center gap-2">
                <span class="badge p-1 bg-light text-dark fs-12"><i class="ti ti-star-filled align-text-top fs-14 text-warning me-1"></i> 4.5</span>
                <div>
                  <p class="fs-14 my-1 text-truncate">Elegant & Very Stylist</p>
                  <p class="fs-14 mb-0">It's super comfy, been using it for ages.</p>
                </div>
              </div>
            </td>
            <td>
              <span class="d-block">Apr 10, 2023</span>
              <small>02.26AM</small>
            </td>
            <td>
              <span class="badge bg-success-subtle text-success fs-12 p-1">Approved</span>
            </td>
            <td class="pe-3">
              <div class="hstack gap-1 justify-content-end">
                <a href="javascript:void(0);" class="btn btn-soft-primary btn-icon btn-sm rounded-circle">
                  <i class="ti ti-eye"></i></a>
                <a href="javascript:void(0);" class="btn btn-soft-danger btn-icon btn-sm rounded-circle">
                  <i class="ti ti-trash"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("users/avatar-7.jpg") %>" alt="avatar-7" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <a href="javascript: void(0);" class="text-dark"><span class="fw-medium">Henry Baylor</span></a>
                  <small class="text-muted text-nowrap">henryBaylor22@mail.com</small>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("products/7.png") %>" alt="Product-7" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-medium text-nowrap">AirPods Max</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center gap-2">
                <span class="badge p-1 bg-light text-dark fs-12"><i class="ti ti-star-filled align-text-top fs-14 text-warning me-1"></i> 4.5</span>
                <div>
                  <p class="fs-14 my-1 text-truncate">Apple make a perfect product's</p>
                  <p class="fs-14 mb-0">It's too good in Style, Sound, Seamless Connection.</p>
                </div>
              </div>
            </td>
            <td>
              <span class="d-block">Apr 8, 2023</span>
              <small>11.31AM</small>
            </td>
            <td>
              <span class="badge bg-success-subtle text-success fs-12 p-1">Approved</span>
            </td>
            <td class="pe-3">
              <div class="hstack gap-1 justify-content-end">
                <a href="javascript:void(0);" class="btn btn-soft-primary btn-icon btn-sm rounded-circle">
                  <i class="ti ti-eye"></i></a>
                <a href="javascript:void(0);" class="btn btn-soft-danger btn-icon btn-sm rounded-circle">
                  <i class="ti ti-trash"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("users/avatar-8.jpg") %>" alt="avatar-8" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <a href="javascript: void(0);" class="text-dark"><span class="fw-medium">John Gentry</span></a>
                  <small class="text-muted text-nowrap">johnGentry36@mail.com</small>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="avatar avatar-sm">
                  <img src="<%= image_path("products/8.png") %>" alt="Product-8" class="img-fluid rounded-2">
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-medium text-nowrap">Nike Snickers</span>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center gap-2">
                <span class="badge p-1 bg-light text-dark fs-12"><i class="ti ti-star-filled align-text-top fs-14 text-warning me-1"></i> 4.5</span>
                <div>
                  <p class="fs-14 my-1 text-truncate">Good Fitting</p>
                  <p class="fs-14 mb-0">The Greatest Fitting snickers</p>
                </div>
              </div>
            </td>
            <td>
              <span class="d-block">Apr 07, 2023</span>
              <small>01.34PM</small>
            </td>
            <td>
              <span class="badge bg-success-subtle text-success fs-12 p-1">Approved</span>
            </td>
            <td class="pe-3">
              <div class="hstack gap-1 justify-content-end">
                <a href="javascript:void(0);" class="btn btn-soft-primary btn-icon btn-sm rounded-circle">
                  <i class="ti ti-eye"></i></a>
                <a href="javascript:void(0);" class="btn btn-soft-danger btn-icon btn-sm rounded-circle">
                  <i class="ti ti-trash"></i></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer">
        <div class="d-flex justify-content-end">
          <ul class="pagination mb-0 justify-content-center">
            <li class="page-item disabled">
              <a href="#" class="page-link"><i class="ti ti-chevrons-left"></i></a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item active">
              <a href="#" class="page-link">2</a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link">3</a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link"><i class="ti ti-chevrons-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- end card-->
  </div> <!-- end col -->
</div>
<!-- end row -->
