<!-- app/views/expense_types/index.html.erb -->

<div class="card-header d-flex align-items-center justify-content-between border-bottom border-light">
  <h4 class="header-title">Tipo de Gastos</h4>
<%= button_to 'Nuevo tipo de gasto', new_expense_type_path(format: :turbo_stream), method: :get, form: { data: { turbo_frame: "modal" } }, class: "btn btn-primary" %>
</div>

<%= turbo_frame_tag "expense_types_table" do %>
  <%= render "search_form", q: @q %>
  <%= render "table", expense_types: @expense_types %>
  <%= render partial: "pagination", locals: { pagy: @pagy } %>
<% end %>
