<% users.each do |user| %>
  <tr id="user_<%= user.id %>">
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.role&.name %></td>
    <td><%= user.status&.name %></td>
    <td class="text-center">
      <%= button_to edit_user_path(user, format: :turbo_stream), method: :get, form: { data: { turbo_frame: "modal" }, class: "d-inline" }, class: "btn btn-soft-success btn-icon btn-sm rounded-circle", title: "Editar" do %>
        <i class="ti ti-edit"></i>
      <% end %>
    </td>
  </tr>
<% end %>