<%= form_with model: client, data: { turbo: false } do |f| %>
  <div class="row">
    <div class="col-md-6 mb-2">
      <%= f.label :collection_id, "Ruta", class: "form-label text-uppercase" %>
      <%= f.collection_select :collection_id, Collection.all, :id, :name, { prompt: "Seleccione un Ruta" }, {class: "form-control select2", required: true } %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :identification, "CÉDULA", class: "form-label text-uppercase" %>
      <%= f.text_field :identification, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :identification_type, "TIPO DE CÉDULA", class: "form-label text-uppercase" %>
      <%= f.text_field :identification_type, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :full_name, "NOMBRE COMPLETO", class: "form-label text-uppercase" %>
      <%= f.text_field :full_name, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :identification_issued_at, "FECHA DE EMISIÓN DE CÉDULA", class: "form-label text-uppercase" %>
      <%= f.date_field :identification_issued_at, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :birth_date, "FECHA DE NACIMIENTO", class: "form-label text-uppercase" %>
      <%= f.date_field :birth_date, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :sex, "SEXO", class: "form-label text-uppercase" %>
      <%= f.select :sex, [["Masculino", "M"], ["Femenino", "F"]], include_blank: true, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :address, "DIRECCIÓN DE RESIDENCIA", class: "form-label text-uppercase" %>
      <%= f.text_field :address, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :billing_address, "DIRECCIÓN DE FACTURACIÓN", class: "form-label text-uppercase" %>
      <%= f.text_field :billing_address, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :mobile_phone, "TELÉFONO CELULAR", class: "form-label text-uppercase" %>
      <%= f.telephone_field :mobile_phone, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :landline_phone, "TELÉFONO FIJO", class: "form-label text-uppercase" %>
      <%= f.telephone_field :landline_phone, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :occupation, "OCUPACIÓN", class: "form-label text-uppercase" %>
      <%= f.text_field :occupation, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :workplace, "LUGAR DE TRABAJO", class: "form-label text-uppercase" %>
      <%= f.text_field :workplace, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :income, "INGRESO MENSUAL", class: "form-label text-uppercase" %>
      <%= f.number_field :income, step: 0.01, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :email, "CORREO ELECTRÓNICO", class: "form-label text-uppercase" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :latitude, "LATITUD", class: "form-label text-uppercase" %>
      <%= f.number_field :latitude, step: 0.000001, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-2">
      <%= f.label :longitude, "LONGITUD", class: "form-label text-uppercase" %>
      <%= f.number_field :longitude, step: 0.000001, class: "form-control" %>
    </div>
  </div>

  <hr class="my-4">
  <div class="row">
    <div class="col-12"><h5>REFERENCIA PERSONAL 1</h5></div>
    <div class="col-md-6 mb-2"><%= f.label :reference1_name, "NOMBRE COMPLETO", class: "form-label text-uppercase" %> <%= f.text_field :reference1_name, class: "form-control" %></div>
    <div class="col-md-6 mb-2"><%= f.label :reference1_identification, "CÉDULA", class: "form-label text-uppercase" %> <%= f.text_field :reference1_identification, class: "form-control" %></div>
    <div class="col-md-6 mb-2"><%= f.label :reference1_address, "DIRECCIÓN", class: "form-label text-uppercase" %> <%= f.text_field :reference1_address, class: "form-control" %></div>
    <div class="col-md-6 mb-2"><%= f.label :reference1_phone, "TELÉFONO", class: "form-label text-uppercase" %> <%= f.telephone_field :reference1_phone, class: "form-control" %></div>
  </div>

  <hr class="my-4">
  <div class="row">
    <div class="col-12"><h5>REFERENCIA PERSONAL 2</h5></div>
    <div class="col-md-6 mb-2"><%= f.label :reference2_name, "NOMBRE COMPLETO", class: "form-label text-uppercase" %> <%= f.text_field :reference2_name, class: "form-control" %></div>
    <div class="col-md-6 mb-2"><%= f.label :reference2_identification, "CÉDULA", class: "form-label text-uppercase" %> <%= f.text_field :reference2_identification, class: "form-control" %></div>
    <div class="col-md-6 mb-2"><%= f.label :reference2_address, "DIRECCIÓN", class: "form-label text-uppercase" %> <%= f.text_field :reference2_address, class: "form-control" %></div>
    <div class="col-md-6 mb-2"><%= f.label :reference2_phone, "TELÉFONO", class: "form-label text-uppercase" %> <%= f.telephone_field :reference2_phone, class: "form-control" %></div>
  </div>

  <div class="d-flex justify-content-end mt-4">
    <%= f.submit "GUARDAR", class: "btn btn-primary" %>
  </div>
<% end %>
