<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_link @q, :full_name, "NOMBRE" %></th>
      <th><%= sort_link @q, :identification, "IDENTIFICACION" %></th>
      <th><%= sort_link @q, :email, "EMAIL" %></th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% clients.each do |client| %>
      <tr>
        <td><%= client.full_name %>
            <%= link_to summary_client_path(client), class: "btn btn-soft-success btn-icon btn-sm rounded-circle", target: "_blank" do %>
              <i class="ti ti-search"></i>
            <% end %>
          </td>
        <td><%= client.identification %></td>
        <td><%= client.email %></td>
        <td>
        <%= button_to edit_client_path(client, format: :turbo_stream), method: :get, form: { data: { turbo_frame: "modal" }, class: "d-inline" }, class: "btn btn-soft-success btn-icon btn-sm rounded-circle", title: "Editar" do %>
            <i class="ti ti-edit"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
