<%= form_with model: section, data: { turbo: false } do |f| %>
  <div class="mb-3">
    <%= f.label 'nombre', class: "form-label text-uppercase" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label 'codigo', class: "form-label text-uppercase" %>
    <%= f.text_field :code, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label 'descripcion', class: "form-label text-uppercase" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="d-flex justify-content-end">
    <%= f.submit "GUARDAR", class: "btn btn-primary" %>
  </div>
<% end %>
