<%= form_with url: settlement_settlement_withdrawals_path(settlement), method: :post, data: { turbo: true }, class: "row g-2" do |f| %>
  <div class="col-12">
    <%= number_field_tag "settlement_withdrawal[amount]", nil, step: "0.01", min: "0", class: "form-control", placeholder: "Monto" %>
  </div>
  <div class="col-12">
    <%= text_field_tag "settlement_withdrawal[destination]", nil, class: "form-control", placeholder: "Destino" %>
  </div>
  <div class="col-12">
    <%= text_field_tag "settlement_withdrawal[note]", nil, class: "form-control", placeholder: "Nota" %>
  </div>
  <div class="col-12">
    <%= datetime_local_field_tag "settlement_withdrawal[happened_at]", Time.current.strftime("%Y-%m-%dT%H:%M"), class: "form-control", disabled: true %>
  </div>
  <div class="col-12">
    <%= submit_tag "Agregar retiro", class: "btn btn-danger btn-sm w-100" %>
  </div>
<% end %>
