<%= form_with model: payment_credential, data: { turbo: false } do |f| %>
  <div class="mb-3">
    <%= f.label 'NOMBRE', class: "form-label text-uppercase" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label 'ACCESS TOKEN', class: "form-label text-uppercase" %>
    <%= f.text_field :access_token, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label 'PAÃS', class: "form-label text-uppercase" %>
    <%= f.text_field :country, class: "form-control" %>
  </div>

  <div class="col-md-6 mb-3">
  <%= f.label :status, class: "form-label" %>
  <%= f.select :status, PaymentCredential.statuses.keys.map { |s| [s.humanize, s] },
                { prompt: "Selecciona un estado" },
                { class: "form-control select2" } %>
  </div>

  <div class="mb-3">
    <%= f.label 'CLIENT ID', class: "form-label text-uppercase" %>
    <%= f.text_field :client_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label 'CLIENT SECRET', class: "form-label text-uppercase" %>
    <%= f.text_field :client_secret, class: "form-control" %>
  </div>

  <div class="d-flex justify-content-end">
    <%= f.submit "GUARDAR", class: "btn btn-primary" %>
  </div>
<% end %>
