<table class="table table-hover">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>ACCESS TOKEN</th>
      <th>PAÍS</th>
      <th>ESTADO</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% payment_credentials.each do |credential| %>
      <tr id="payment_credential_<%= credential.id %>">
        <td><%= credential.name %></td>
        <td><%= credential.access_token %></td>
        <td><%= credential.country %></td>
        <td><%= credential.status_name %></td>
        <td class="text-center">
          <%= button_to edit_payment_credential_path(credential, format: :turbo_stream),
              method: :get,
              form: { data: { turbo_frame: "modal" }, class: "d-inline" },
              class: "btn btn-soft-success btn-icon btn-sm rounded-circle",
              title: "Editar Credencial" do %>
            <i class="ti ti-edit"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
