<!DOCTYPE html>
<html <%= @html_attributes || "" %>>

<head>
  <%= render 'layouts/partials/title_meta', title: @page_title %>
  <%= render 'layouts/partials/head_css' %>
</head>

<body <%= @body_attributes || "" %>>

<%= yield %>

<%= turbo_stream_from "flash" %>

<%= turbo_stream.append "flash" do %>
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= bootstrap_class_for(type) %> alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
<% end %>
<%= render 'layouts/partials/footer_scripts' %>

<% content_for :javascript do %>
  <%= javascript_include_tag '', defer: true %>
<% end %>