<!DOCTYPE html>
<html <%= @html_attributes || "" %> data-layout="topnav">

<head>
  <%= render 'layouts/partials/title_meta', title: @page_title %>
  <%= render 'layouts/partials/head_css' %>
</head>

<body <%= @body_attributes || "" %>>

<div class="wrapper">

  <%= render 'layouts/partials/topbar' %>
  <%= render 'layouts/partials/horizontal_nav' %>

  <div class="page-content">
    <div class="page-container">

      <%= yield %>

    </div>

    <%= render 'layouts/partials/footer' %>

  </div>
</div>

<%= render 'layouts/partials/customizer' %>

<%= render 'layouts/partials/footer_scripts' %>

<% content_for :javascript do %>
  <%= javascript_include_tag '', defer: true %>
<% end %>